.github-link {
  display: inline-block;
  background-color: #333; /* GitHub dark gray */
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.github-link:hover {
  background-color: #111; /* Darker gray */
}

.nav-item {
  margin: 0 10px;
  color: #032919;
}

.nav-subgroup {
  margin-left: 20px; /* Indent sublinks */
  list-style-type: none; /* Removes bullet points */
}

/* Sublist Styles */
.nav-sublist {
  list-style-type: none;
  padding-left: 20px; /* Indent sublinks */
}

.nav-sublist .nav-item {
  margin: 5px 0;
}

/* Additional styling to differentiate sublinks */
.nav-sublist .nav-link {
  font-weight: normal;
  font-size: 0.9em; /* Smaller font size for sublinks */
}

.nav-link {
  text-decoration: none;
  color: #032919;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #4CAF50; /* Highlight color for the active link */
}

.nav-link:hover {
  color: #aaa;
}

.outlet {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Styling for the parent "Optimization" group */
.nav-item > .nav-link {
  cursor: pointer; /* Makes it clear it's clickable or expandable */
}
