.github-link {
  display: inline-block;
  background-color: #333; /* GitHub dark gray */
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.github-link:hover {
  background-color: #111; /* Darker gray */
}

.nav-item {
  margin: 0 15px; /* Increased spacing for better tap targets */
  color: #5A8267; /* Improved contrast */
}

.nav-subgroup {
  margin-left: 20px;
  list-style-type: none;
}

.nav-sublist {
  list-style-type: none;
  padding-left: 20px;
}

.nav-sublist .nav-item {
  margin: 10px 0; /* Increased spacing for clarity */
}

.nav-sublist .nav-link {
  font-weight: normal;
  font-size: 0.9em;
  color: #045E37; /* Adjusted for better readability */
}

.nav-link {
  text-decoration: none;
  color: #045E37; /* Darker shade for better readability */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.nav-link.active {
  color: #4CAF50;             /* Highlight color for the active link */
  /* background-color: #E8F5E9; New background highlight */
}

.nav-link:hover,
.nav-link:focus { /* Focus state for keyboard navigation */
  color: #aaa;
  background-color: #f4f4f4; /* Subtle background change */
  outline: none; /* Removes default focus outline */
  border: 2px solid #aaa; /* Adds a border on hover/focus */
}

.outlet {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.nav-item > .nav-link {
  cursor: pointer;
}
