/* // <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name */

.cormorant-serif {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}